{% extends 'base.html' %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <div class="container mt-5 p-4 rounded shadow" style="background-color: #f3e8ff; max-width: 500px;">
    <h2 class="text-center mb-4" style="color: #6f42c1;">Login to Your Account</h2>

    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label" style="color: #4a148c;">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label" style="color: #4a148c;">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required />
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary px-4" style="background-color: #6f42c1; border: none;">Login</button>
      </div>
    </form>
    <div>
      <p class="form-label text-center" style="color: #4a148c;">Don't have an account?</p>
    </div>
    <div class="text-center">
      <a href="{% url 'signup' %}"><input type="submit" value="signup" class="btn btn-primary px-4" style="background-color: #6f42c1; border: none;" /></a>
    </div>
  </div>
{% endblock %}
